body {
  background-color: black;
}

img {
  width: 100%;
  border: 3px solid white;
}

.container {
  position: relative;
  width: 400px;
  margin: auto;
}

.text-block {
  position: absolute;
  bottom: 170px;
  right: -20px;
  background-color: rgb(252, 245, 245);
  color: rgb(8, 7, 7);
  padding-left: 30px;
  padding-right: 20px;
  border-radius: 30px;
  border: greenyellow 3px solid;
}

.Sanchez {
  bottom: 100px;
}
